@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    @apply bg-primary;
}

.logo {
    @apply text-lg fixed left-[38px] hover:text-tSecondary transition-colors bg-primary bg-opacity-50 rounded-md p-1 cursor-pointer;
}

.nav-link {
    @apply text-primary transition-colors hover:bg-red-50 rounded-sm p-1 text-xl font-bold cursor-pointer;
}

.active-link {
    @apply bg-red-50;
}

.active-link .point {
    @apply inline;
}
.profile__pic {
    @apply w-[250px] h-[200px] md:w-[300px] md:h-[300px] bg-profileImg bg-cover bg-center bg-no-repeat order-1 justify-self-center;
}

.animate-profile {
    animation: animate-profile 8s ease-in-out infinite 1s;
}

.card {
    @apply flex-1 min-w-[320px] sm:min-w-[350px] max-w-[700px];
}

.skill {
    @apply w-16 h-16 sm:w-20 sm:h-20 rounded-full flex items-center justify-center p-4;
}

.project-card {
    @apply w-[300px] h-[370px] bg-gray-100 hover:scale-95 text-primary rounded-lg shadow-md hover:shadow-xl transition duration-300 ease-in-out cursor-grab p-3 flex flex-col justify-between;
}

.cbg {
    background: radial-gradient(#444cf7 0.5px, #32324c 0.5px);
    background-size: 10px 10px;
}

@media (min-width: 768px) {
    .cbg {
        background-size: 15px 15px;
    }
}

.contactInput {
    @apply w-full py-2 bg-primary border-b border-tSecondary outline-none;
}
.line {
    @apply w-0 h-[1px] bg-tPrimary absolute bottom-0 left-0 peer-focus:w-full transition-all duration-300 ease-in-out;
}

@keyframes animate-profile {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.typing {
    display: flex;
    height: 17px;
}
.typing .dot {
    animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
    background-color: #32324C;
    border-radius: 50%;
    height: 7px;
    margin-right: 4px;
    vertical-align: middle;
    width: 7px;
    display: inline-block;
}
.typing .dot:nth-child(1) {
    animation-delay: 200ms;
}
.typing .dot:nth-child(2) {
    animation-delay: 300ms;
}
.typing .dot:nth-child(3) {
    animation-delay: 400ms;
}
.typing .dot:last-child {
    margin-right: 0;
}

@keyframes mercuryTypingAnimation {
    0% {
        transform: translateY(0px);
        background-color: #DE5646;
    }
    28% {
        transform: translateY(-7px);
        background-color: #DE5646;
    }
    44% {
        transform: translateY(0px);
        background-color: #DE5646;
    }
}

/* scroll bar */

::-webkit-scrollbar {
    width: 0.2rem;
}

::-webkit-scrollbar-track {
    background: #3c3b5a;
}

::-webkit-scrollbar-thumb {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: #de5646;
}
